doctype html
html(ng-app="app", ng-controller="MainController")
  head
    meta(charset="utf-8")
    title= title
    base(href="/")
    meta(name="description", content="Duvo development labs.")
    meta(name="viewport", content="width=device-width")
    link(href="/favicon.ico", rel="shortcut icon", type="image/vnd.microsoft.icon")
    link(rel="stylesheet", href="/bower/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/layout/styles/layout.css")
    block styles
    
    <!--[if lt IE 9]>
    script(src="/bower/es5-shim/es5-shim.min.js")
    script(src="/bower/json3/lib/json3.min.js")
    <![endif]-->
    script(src="/bower/jquery/dist/jquery.js")
    script(src="/bower/angular/angular.min.js")
    script(src="/bower/angular-bootstrap/ui-bootstrap-tpls.min.js")    
    block scripts

  body
    nav(class=["navbar", "navbar-inverse", "navbar-fixed-top"], role="navigation")
      .container
        .navbar-header
          button(type="button", class="navbar-toggle", ng-click="navbarCollapsed = !navbarCollapsed")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img(src="/img/labs-logo.png", alt="Labs")
            |  Labs
        div(class=["collapse", "navbar-collapse"], collapse="!navbarCollapsed")
          ul(id="main-nav", class=["nav", "navbar-nav"])
            li(class=page==="index" ? "active" : "")
              a(href="/") Home
            li(class=page==="angular-ui" ? "active" : "")
              a(href="/angular-ui") Angular UI
            li(class=page==="socket" ? "active" : "")
              a(href="/socket") Socket
            li(class=page==="canvas" ? "active" : "")
              a(href="/canvas") Canvas
            li(class=page==="real-time" ? "active" : "")
              a(href="/real-time") Real-time

    script(src="/layout/scripts/app.js")
    block content